header {
    padding: 30px 30px;
}

#header-content #logo {
    flex-grow: 1;
}

#header-content .nav-list {
    display: none;
}

#area1 .intro-illustration {
    display: none;
}

#area1 {
    padding: 0px 0px;
    justify-content: center;
    align-items: center;
}

#area1 .myself-introduction {
    flex-grow: 0;
}

#area1 .myself-introduction h1 {
    line-height: 40px;
}

#area1 img.introduction-rectangle {
    display: none;
}

#projects-area {
    padding: 70px 10px;
}

#projects-area .projects-cards {
    flex-direction: column;
    align-items: center;
    margin-top: 20px
}

.projects-btn a {
    width: 70%;
    font-size: 16px;
}

footer {
    padding: 50px 10px;
    justify-content: center;
    text-align: center;
}

footer .left-side {
    flex-grow: 0;
}

footer .right-side {
    display: none;
}

#projects-area .projects-full-cards {
    grid-template-columns: 370px;
}

#mobile-menu {
    display: block;
    cursor: pointer;
}

#mobile-menu div {
    width: 32px;
    height: 2.5px;
    background-color: #F2F2F2;
    margin: 8px;
    border-radius: 4px;
}

nav .nav-list {
    display: none;
}

nav .nav-list-mobile {
    display: flex;
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background-color: #111111;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 100;
    transform: translateX(100%);
    transition: transform .5s;
}

nav .nav-list-mobile li {
    letter-spacing: 3px;
}

nav .nav-list-mobile.active {
    transform: translateX(0);
    opacity: 1;
}