@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #5c5c5c21;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 200;
    line-height: 28px;
    color: #F2F2F2;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #F2F2F2;
}

header {
    position: absolute;
    padding: 30px 100px;
    background-color: #111111;
    width: 100vw;
}

#header-content {
    display: flex;
    align-items: center;
}

#header-content #logo {
    flex-grow: 1;
    font-size: 25px;
    font-weight: bold;
}

#header-content #logo a {
    transition: all .2s;
}

#header-content #logo a:hover {
    opacity: 0.8;
}

#header-content nav {
    flex-grow: 1;
    display: flex;
    justify-content: right;
    gap: 24px;
    font-size: 25px;
    font-weight: 200;
}

#header-content nav a {
    transition: all .2s;
}

#header-content nav a:hover {
    opacity: 0.8;
}

#area1 {
    padding: 0px 100px;
    padding-top: 200px;
    background: #131313 url(../assets/images/area1background.png) no-repeat center;
    display: flex;
    height: 100vh;
}

#area1 .myself-introduction {
    margin-left: 25px;
    margin-top: 7px;
    text-align: justify;
    flex-grow: 1;
}

#area1 .myself-introduction h1 {
    font-size: 40px;
    margin-bottom: 15px;
}

#area1 img.introduction-rectangle {
    position: absolute;
    height: 105px;
    width: 10px;
}

#area1 .introduction-buttons {
    margin-top: 60px;
    display: flex;
    gap: 10px;
}

#area1 .intro-illustration {
    display: flex;
    width: 800px;
    height: 500px;
    justify-content: end;
}

#area1 .intro-illustration img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

#projects-area {
    padding: 70px 100px;
    background-color: #151515;
}

#projects-area.full {
    padding: 140px 100px;
}

#projects-area .projects-text {
    text-align: center;
}

#projects-area .projects-text h5 {
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 20px;
}

#projects-area .projects-text h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

#projects-area .projects-cards {
    margin-top: 60px;
    justify-content: center;
    gap: 30px;
    display: flex;
}

#projects-area .projects-full-cards {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 370px 370px 370px;
    gap: 30px;
    place-items: center;
    place-content: center;
}

.project-box {
    position: relative;
    border-radius: 16px;
    background-color: #0F0F0F;
    border: 1px solid rgba(112, 0, 255, 0.5);
    display: flex;
    flex-direction: column;
    min-height: 500px;
    min-width: 300px;
    max-width: 350px;
}

.box-wrapper {
    transition: all .5s;
}

.box-wrapper:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 0px 80px #000000b2;
}

.project-content {
    margin: 20px;
}

.project-content .thumb {
    display: flex;
    justify-content: center;
}

.project-content .thumb img {
    width: 100%;
    max-width: 400px;
    max-height: 250px;
}

.project-content .project-title {
    font-size: 30px;
    margin-top: 40px;
}

.project-content .project-description {
    margin-top: 10px;
}

.project-box .project-tags {
    position: absolute;
    bottom: 15px;
    left: 15px;
    display: flex;
    gap: 10px;
}

.projects-btn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.projects-btn a {
    width: 25%;
    padding: 18px 0px;
    box-shadow: 1px 1px 50px #000000b2;
    font-size: 20px;
}

footer {
    background-color: #111111;
    padding: 50px 100px;
    display: flex;
}

footer .left-side {
    flex-grow: 1;
}

footer .right-side {
    flex-grow: 1;
    display: flex;
    justify-content: end;
}

footer .right-side img {
    width: 300px;
    aspect-ratio: 1;
}

footer .contact-text h5 {
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 20px;
}

footer .contact-text h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

footer .social-contact {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    gap: 20px;
}

footer .discord-contact,
footer .email-contact {
    display: flex;
    align-items: center;
}

footer .discord-contact span,
footer .email-contact span {
    margin-left: 20px;
}

.purple-text {
    color: #7000FF;
}

.fill-btn {
    background-color: #7000FF;
    font-weight: bold;
    border-radius: 8px;
    text-align: center;
    padding: 15px 25px;
    font-size: 16px;
    outline: 0;
    border: 0;
    color: #F2F2F2;
    border: 1px solid #7000FF;
    transition: all .5s;
}

.outline-btn {
    background-color: rgba(0, 0, 0, 0);
    font-weight: bold;
    border-radius: 8px;
    text-align: center;
    padding: 15px 25px;
    font-size: 16px;
    outline: 0;
    border: 1px solid #7000FF;
    color: #F2F2F2;
    transition: all .5s;
}

.fill-btn:hover,
.outline-btn:hover {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 40px #000000a6;
    transform: translateY(-7px);
}

.script-tag {
    color: #6BFFC1;
}

.uidesign-tag {
    color: #61D9FF;
}

.vfx-tag {
    color: #FF6868;
}

.animation-tag {
    color: #D9DD21;
}

.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #111111c0;
}

@media (max-width: 1300px) and (min-width: 1024px) {
    #area1 {
        justify-content: center;
        height: 80vh;
    }

    #area1 .myself-introduction {
        flex-grow: 0;
    }

    #area1 img.introduction-rectangle {
        display: none;
    }

    #area1 .intro-illustration {
        display: none;
    }

    #projects-area .projects-full-cards {
        grid-template-columns: 370px 370px;
    }
}